# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Secret key file
secret_key.txt

# Django media files
media/

# Django static files
staticfiles/

# Database
*.sqlite3
*.db

# Migrations
migrations/__pycache__/
*_initial.py

# IDE specific files
.vscode/
.idea/

# System specific files
.DS_Store
Thumbs.db
