nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #454646;
    z-index: 9999;
}

nav ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: right; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #b892d8;
    text-decoration: none;
}

/* Additional styling for the main content */
main {
    padding-top: 40px;
}

/* Additional styling for the center-aligned section */
.center {
    text-align: center;
}

/* Additional styling for the images */
.home_img {
    height: 250px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
