/* userAccount.css */

/* Import styles from base.css */
@import url('base.css');

/* Additional styles for userAccount page */
.account-container {
    display: flex;
    flex-wrap: wrap;
}

.images {

    height: 1000px;
    width: 1000px;
    display: inline-block;
}

.account-section {
    flex-basis: 25%;
    padding: 5px;
    display: inline-block;
}

.account-section img {
    height: 300px;
    width: 400px;
    display: inline-block;
}

img {
    border-radius: 20px;
    display: inline-block;
}