{% extends 'base.html' %}  
{% load static %}  <!-- Updated from staticfiles to static for newer Django versions -->
{% block title_block %}
    About us 
{% endblock %}
{% block body_block %}
        <section class = 'center'>
            <p>
                Finance Manager is at the forefront of saving technology. Our idea came from one of our group members who is horribly addicted to gambling and needed a way of controlling his spending.
            </p>
        </section>
    </main>
{% endblock %}
