{% extends "base.html" %}
{% load static %} 
{% block title_block %}
    Analysis - Finance Manager
{% endblock %}

{% block body_block %}
    <div class="center">
        <h4>Expense Analysis</h4>
        <header class="header-center">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <button><a href="{% url 'budget' %}">Budget</a></button>
                        <button><a href="{% url 'userAccountPage' %}">Back to user account</a></button>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div id="plot"></div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var plot_div = "{{ plot_div|safe }}";
        </script>
    </div>
{% endblock %}