<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title_block %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block extra_css %}{% endblock %}
    </head>  
    <body>
        <header>
            <h2>{% if user.is_authenticated %}<a href="{% url 'userAccountPage' %}">Finance Manager</a>{% else %}<a href="{% url 'home' %}">Finance Manager</a>{% endif %}</h2>
            <nav>
                <ul>
                    <li class="nav_elements"><a href="{% url 'about' %}">Who We Are</a></li>
                    <li class="nav_elements"><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li class="nav_elements">
                        <button>
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}">Log out</a>
                            {% else %}
                                <a href="{% url 'login' %}">Log in</a>
                            {% endif %}
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
        <hr>
        <div>
            {% block body_block %}
                This is body_block's default content.
            {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
                <!-- Any side bar content goes here -->
            {% endblock %} 
        </div>
        <footer>
            <nav>
                <ul>
                    
                    <!-- <li><a href="Instagram"><img src="{% static 'path/to/instagram/icon' %}" alt="Instagram"></a></li>
                    <li><a href="Facebook"><img src="{% static 'path/to/facebook/icon' %}" alt="Facebook"></a></li> -->
                </ul>
            </nav>
        </footer>
    </body>
</html>
