{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/budget.css' %}">
{% endblock %}

{% block title_block %}
    Budget - Finance Manager
{% endblock %}

{% block body_block %}
    <div class="center">
        <header class="header-center">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'analysis' %}">Analysis</a></li>
                        <li><a href="{% url 'home' %}">Back to Home</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <h4>Budget Manager</h4>
        <hr>
        <div class="images-section">
            <img src="{% static 'images/budget_1.jpg' %}" alt="Budget Checklist" class="home_img">
            <img src="{% static 'images/budget_2.jpg' %}" alt="Budget Manager" class="home_img">
        </div>
        {% if existing_budget %}
            <section>
                <h2>Existing Budget:</h2>
                <ul>
                    {% for budget in existing_budget %}
                        <li>{{ budget.date }} - Category: {{ budget.category }}, Amount: {{ budget.amount }}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        <section>
            <form method="post" id="budget-form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_date">Date:</label>
                    {{ form.date }}
                </div>
                <div class="form-field">
                    <label for="id_category">Category:</label>
                    {{ form.category }}
                </div>
                <div class="form-field">
                    <label for="id_amount">Amount:</label>
                    {{ form.amount }}
                </div>
                <button type="submit" class="input_button">Submit</button>
            </form>
        </section>
    </main>
    </div>
{% endblock %}
