{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/budget.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/confirmDeletion.js' %}"></script>
{% endblock %}

{% block title_block %}
    Budget - Finance Manager
{% endblock %}

{% block body_block %}
    <div class="center">
        <h4>Budget Manager</h4>
        <header class="header-center">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        
                        <button><a href="{% url 'userAccountPage' %}">Back to user account</a></button>
                    {% endif %}
                </ul>
            </nav>
        </header>
        
        <div class="images-section">
            <img src="{% static 'images/budget_1.jpg' %}" alt="Budget Checklist" class="home_img">
            <img src="{% static 'images/budget_2.jpg' %}" alt="Budget Manager" class="home_img">
        </div>
        <div>
            {% if existing_budget %}
                <section>
                    <h2>Existing Budget:</h2>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Category</th>
                                <th>Amount (GBP)</th>
                                <th>Delete Record</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for budget in existing_budget %}
                            <tr>
                                <td>{{ budget.date.year }}</td>
                                <td>{{ budget.date.month }}</td>
                                <td>{{ budget.category }}</td>
                                <td>{{ budget.amount }}£</td>
                                <td><button onclick="confirmDeletion(event, 'Are you sure you want to delete this budget? This action cannot be undone.')"><a href="{% url 'delete_budget' budget.id account_slug %}">Delete</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% endif %}
            <section>
                <form method="post" id="budget-form">
                    {% csrf_token %}
                    <div class="form-field">
                        <label for="id_date">Date:</label>
                        {{ form.date }}
                    
                        <label for="id_category">Category:</label>
                        {{ form.category }}
                    
                        <label for="id_amount">Amount:</label>
                        {{ form.amount }}
                    </div>
                    <button type="submit" class="input_button">Submit</button>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
