{% extends 'base.html' %}

{% load static %}

{% block title_block %}
Contact Us - Finance Manager
{% endblock %}

{% block body_block %}

<ul> 
    {% if account_slug %}
        <li><a href="{% url 'financial_account' account_slug=account_slug %}">Back to Financial Account</a></li>
    {% else %}
        <li><a href="{% url 'home' %}">Back to Home</a></li>  {# Example fallback link #}
    {% endif %}
</ul>

<main class="center">
    <section>
        <h2>Contact Finance Manager</h2>
        <p>We're here to help and answer any question you might have. We look forward to hearing from you.</p>
    </section>
    <hr>
    <section class="login center">
        <form action="{% url 'contact_form_submit' %}" method="post" class="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="input_button">Send Message</button>
        </form>
        
    </section>
</main>

{% endblock %}
