{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/confirmDelete.js' %}"></script>
{% endblock %}

{% block title_block %}
    {% if financial_account %}
        {{ financial_account.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
{% if financial_account %}
<h1>{{ financial_account.financial_account_name }}</h1>
{% endif %}
    <div class="user_account_div">
            <section class="user_account_div_child">
                
                <button><a href="{% url 'budget' financial_account.slug %}">Budget</a></button>
            </section>
            <section class="user_account_div_child">
                
                <button><a href="{% url 'incomeOutcome' financial_account.slug %}">Income and Expenses</a></button>
            </section>
            <section class="user_account_div_child">
                <h2>Analytics</h2>
                <a href="{% url 'analysis' financial_account.slug %}"><img src="{% static 'images/Analysis.jpg'%}" alt="Analysis" class = "user_account_images" ></a>
            </section>
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="user_account_div">
        <section class="user_account_div_child">
            <button style="background-color: red;"><a href="{% url 'delete_financial_account' financial_account.slug%}">Delete Financial Account</a></button>
        </section>
    </div>
{% endblock %}


