{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {% if financial_account %}
        {{ financial_account.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
{% if financial_account %}
<h1>{{ financial_account}}</h1>
{% endif %}
    <div class="user_account_div">
            <section class="user_account_div_child">
                <h2>Budget</h2>
                <a href="{% url 'budget' %}"><img src="{% static 'images/Budget.jpg'%}" alt="Budget" class = "user_account_images" ></a>
            </section>
            <section class="user_account_div_child">
                <h2>Income and Expense</h2>
                <a href="{% url 'incomeOutcome' %}"><img src="{% static 'images/incomeOutcome.jpg'%}" alt="Income/Outcome" class = "user_account_images" ></a>
            </section>
            <section class="user_account_div_child">
                <h2>Analytics</h2>
                <a href="{% url 'analysis' %}"><img src="{% static 'images/Analysis.jpg'%}" alt="Analysis" class = "user_account_images" ></a>
            </section>
        <br><br>
    </div>
    <section class = "center">
        <p>
            <button><a href="{% url 'delete-financial-account' financial_account.financial_account_id financial_account.slug%}">Delete Financial Account</a></button>
        </p>
        <p>
            This is your financial account home page. Here you can continue to your budgeting services, track you income and outcome or proceed to the analytics page to view a graph of your spendings.
        </p>
    </section>
{% endblock %}

