{% extends 'base.html' %} 
{% load static %}
{% block title_block %}
    Home - Finance Manager
{% endblock %}


{% block body_block %}
    <header>
        <nav>
            <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'analysis' %}">Analysis</a></li>
                     
                    {% endif %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class = "center">
            <h4>The <i>first </i> money management system that gives <i> you </i> control</h4>
            <button><a href="{% url 'signup' %}">Sign Up</a></button>
        </section>
        <hr>
        <section>
            <img src="{% static 'images/StockMarket.jpg' %}" alt="img1" class = "home_img">
            <img src="{% static 'images/PieChart.jpg' %}" alt="img2" class = "home_img">
        </section>
        <section class = 'center'>
            <p>
                Finance Manager is at the forefront of saving technology. Our idea came from one of our group members who is horribly addicted to gambling and needed a way of controlling his spending.
            </p>
        </section>
    </main>
{% endblock %}

