{% extends 'base.html' %}  
{% load static %}  <!-- Updated from staticfiles to static for newer Django versions -->
{% block title_block %}
    Home - Finance Manager
{% endblock %}

{% block log_in %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{%else%}
<a href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock%}


{% block body_block %}
    <main>
        <section>
            <h4>The <h4><i> first </i></h4> money management system that gives <i> you </i> control</h4>
            <button>Sign Up</button>
        </section>
        <hr>
        <section>
            <img src="" alt="img1">
            <img src="" alt="img2">
        </section>
        <section>
            <p>
                Intro text
            </p>
        </section>
    </main>
{% endblock %}

