{% extends 'base.html' %}  
{% load static %}  <!-- Updated from staticfiles to static for newer Django versions -->
{% block title_block %}
    Home - Finance Manager
{% endblock %}

{% block body_block %}
    <header>
        <h1>Welcome to the Finance Manager App</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                    
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Manage Your Finances</h2>
            <p>Keep track of your income, expenses, and budget all in one place. Test Branch </p>
        </section>
    </main>
{% endblock %}

{% block sidebar_block %}
    Custom sidebar content for home page.
{% endblock %}
