{% extends 'base.html' %}

{% block title_block %}Login{% endblock %}

{% block body_block %}
<div class="center">
    <h2>Login</h2>
    <form method="post" class="login center">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-field">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="errorlist">
                    {% for error in form.username.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="errorlist">
                    {% for error in form.password.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="input_button">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</div>
{% endblock %}
