{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block body_block %}

<section class="center">
  <h2>Sign Up</h2>
  <form method="post" class="login center">
    {% csrf_token %}
    <div class="form-field">
      {{ form.username.label_tag }} {{ form.username }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-field">
      {{ form.email.label_tag }} {{ form.email }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-field">
      {{ form.password1.label_tag }} {{ form.password1 }}
      {% if form.password1.errors %}
        {% for error in form.password1.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-field">
      {{ form.password2.label_tag }} {{ form.password2 }}
      {% if form.password2.errors %}
        {% for error in form.password2.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <button type="submit" class="center input_button">Sign Up</button> 
  </form>
</section>

{% endblock %}
