{% extends 'base.html' %}
{% load static %}

<head></head>

{% block title_block %}
    User Account Page
{% endblock %}


{% block body_block %}
    <div>
    <h2 class="center" id = "welcome">Welcome</h2>
    </div>
        <div class="user_account_div" >
            {% if bank_accounts %}
                {% for bank_account in bank_accounts %}
                    <div class = "user_account_div_child">
                        <h2>{{ bank_account.financial_account_name }}</p>
                        <section>
                            <a href="{% url 'financial_account' bank_account.slug %}">
                                <img src="{{ MEDIA_URL }}{{ bank_account.picture }}" alt="this isn't loading" class = "user_account_images" >
                            </a>
                        </section>
                    </div>
                {% endfor %}
            {% endif %}
            {% if bank_accounts|length < 3 %}
                    <div class="user_account_div_child">
                        <a href="{% url 'newAccount' %}">
                            <button class = "input_button">Add New Account</button>
                        </a>
                    </div>
            {% endif %}
        </div>
{% endblock %}
