{% extends 'base.html' %}
{% load static %} <!-- not sure why its making me use this as its already stated in base.html but alas i must-->
{% block title_block %}
    User Account Page
{% endblock %}

{% block body_block %}
    <h1>Welcome</h1>
        <div>
            <h2>Savings Account</h2>
                {% if bank_accounts %}
                    {% for bank_account in bank_accounts %}
                        <a href="{% url 'financial_account' bank_account.slug %}">
                            <p>{{ bank_account.financial_account_name }}</p>
                            <img src="{{MEDIA_URL}}{{ bank_account.picture }}" alt="this isn't loading">
                        </a>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'newAccount' %}"><img src="{% static 'images/PieChart.jpg' %}" alt=""></a>
        </div>
{% endblock %}
